<h2>住所情報登録</h2>

<%= form_for @address do |f| %>
  <%= render "devise/shared/error_messages", resource: @address %>

  <div class="field">
    <%= f.label :送付先氏名 %><br />
    <%= f.text_field :address_family_name %>
    <%= f.text_field :address_first_name %>
  </div>

  <div class="field">
    <%= f.label :送付先氏名かな %><br />
    <%= f.text_field :address_family_name_kana %>
    <%= f.text_field :address_first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :都道府県 %><br />
    <%= f.text_field :prefecture %>
  </div>

  <div class="field">
    <%= f.label :市区町村 %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :番地 %><br />
    <%= f.text_field :house_number %>
  </div>

  <div class="field">
    <%= f.label :マンション名やビル名、そしてその部屋番号 %><br />
    <%= f.text_field :building %>
  </div>
  
  <div class="field">
    <%= f.label :お届け先のお届け先の電話番号 %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>