= render partial: "items/header"
.Mypage
  .Mypage__Wrapper
    .Mypage__Wrapper__Side
      %ul
        %li.Mypage__Wrapper__Side__list
          = link_to "マイページ", users_path
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "お知らせ", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "いいね！一覧", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品する", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品した商品-出品中", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品した商品-売却済み", "#"
          = icon('fa','chevron-right')
        
      %ul.Mypage__Wrapper__Side__unli  
        設定
        %li.Mypage__Wrapper__Side__list
          = link_to "プロフィール", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "発送元・お届け先住所変更", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "支払い方法", card_users_path, class: "PageActive"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "メール/パスワード", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "本人情報", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "ログアウト", logout_users_path
          = icon('fa','chevron-right')
    .Mypage__Wrapper__Main
      .Mypage__Wrapper__Main__CardTitle
        支払い方法
      .Mypage__Wrapper__Main__CardInner
        .Mypage__Wrapper__Main__CardInner__title
          クレジットカード一覧
        .Mypage__Wrapper__Main__CardInner__add
          = link_to new_credit_card_path, class: "Mypage__Wrapper__Main__CardInner__add--link" do
            %i.fa.fa-credit-card クレジットカードを追加する 
        -# 条件分岐で表示させるものをわける予定  
        .Mypage__Wrapper__Main__CardInner__add
          .Mypage__Wrapper__Main__CardInner__add__show
            = image_tag '/assets/visa.svg', size: '49x15'
            .Mypage__Wrapper__Main__CardInner__add__show__num
              ************0000
            .Mypage__Wrapper__Main__CardInner__add__show__limit
              00/00
            = link_to '削除する', "#", class: 'Mypage__Wrapper__Main__CardInner__add__show__destroy'
= render partial: "items/footer" 
