
%header
  .main
    = link_to do "#"
      .exhibition
        .exhibition__button
          出品する
          .icon
            = image_tag "/assets/icon_camera.png", size: "54x54"
    = link_to image_tag("/assets/logo.png", class: "main__img", size: "140x40"), "/"

    .main__input
      キーワードから探す 
    = image_tag "/assets/icon-search 1.png", class: "main__button", size: "40x40"   
  .contents
    .contents__left
      .category
        カテゴリー
      .brand
        ブランド
    .contents__right
      - if user_signed_in?
        .login
          = link_to "マイページ", users_path
        .register
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      -else
        .login
          = link_to "ログイン", new_user_session_path
        .register
          = link_to "新規会員登録", new_user_registration_path
  



.Mypage
  .Mypage__Wrapper
    .Mypage__Wrapper__Side
      %ul
        %li.Mypage__Wrapper__Side__list
          = link_to "マイページ", users_path, class: "PageActive"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "お知らせ", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "いいね！一覧", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品する", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品した商品-出品中", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品した商品-売却済み", "#"
          = icon('fa','chevron-right')
        
      %ul.Mypage__Wrapper__Side__unli  
        設定
        %li.Mypage__Wrapper__Side__list
          = link_to "プロフィール", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "発送元・お届け先住所変更", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "支払い方法", card_users_path
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "メール/パスワード", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "本人情報", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "ログアウト", logout_users_path
          = icon('fa','chevron-right')
    .Mypage__Wrapper__Main
      .Mypage__Wrapper__Main__user-name
        = "#{current_user.nickname}さんのマイページ"


%footer
  .footer-menu
    .menu-lists
      .left-lists
        FURIMAについて
        .list
          %li 会社概要（運営会社）
          %li プライバシーポリシー
          %li FURIMA利用規約
          %li ポイントに関する特約
      .center-lists
        FURIMAを見る
        .list
          %li カテゴリー一覧
          %li ブランド一覧
      .right-lists
        ヘルプ＆ガイド
        .list
          %li FURIMAガイド
          %li FURIMAロゴ利用ガイドライン
          %li お知らせ
    .icon  
      = image_tag "/assets/logo-white.png", size: "160x46"
      ©︎FURIMA
     
