.product-container
  .product-header
    = link_to root_path do
      = image_tag asset_path("logo.png"), size: "150x65"
  .product-form
    %form
      .product-form__image-container
        %p.message
          商品出品画像
          %span.style_attention.required
            必須
        %p.image-message
          最大10枚までアップロード出来ます
        #image-box
          #previews
            %label{class: "label-box"}
              %input{class:"js-field", type: "file"}
              %p.label-box__text クリックしてファイルをアップロード
      .product-form__item-container
        %p.message
          商品名
          %span.style_attention.required
            必須
        %input{type: "text", class: "product-form__item-container__name-box", placeholder: "40文字まで"}
        %p.message
          商品の説明
          %span.style_attention.required
            必須
        %textarea{class: "product-form__item-container__description-box", placeholder: "商品の説明"}
      .product-form__details-container
        %h3.explanation
          商品の詳細
        %p.message
          カテゴリー
          %span.style_attention.required
            必須
        %select{class: "product-form__details-container__category-box"}
          %option
            メンズ
          %option
            レディース
        %p.message
          ブランド
          %span.style_attention.any
            任意
        %input{type: "text", class: "product-form__details-container__brand-box", placeholder: "例) シャネル"}
        %p.message
          商品の状態
          %span.style_attention.required
            必須
        %select{class: "product-form__details-container__condition-box"}
          %option
            新品
          %option
            悪い
      .product-form__post-container
        %h3.explanation
          配送について
        %p.message
          配送料
          %span.style_attention.required
            必須
        %select{class: "product-form__post-container__shipping-charge-box"}
          %option
            送料込み
          %option
            着払い
        %p.message
          配送元
          %span.style_attention.required
            必須
        %select{class: "product-form__post-container__shipping-charge-box"}
          %option
            東京
          %option
            大阪
        %p.message
          配送までの日数
          %span.style_attention.required
            必須
        %select{class: "product-form__post-container__shipping-charge-box"}
          %option
            1〜2
          %option
            3〜4
      .product-form__price-container
        %h3.explanation
          販売価格(300〜9,999,999)
        %ul
          %li
            %p.message
              販売価格
              %span.style_attention.required
                必須
          %li
            .price
              %span ¥
              %input{type: "number", class:"product-form__price-container__price-box", placeholder: "0"}
      .product-form__submit-container
        .product-form__submit-container__button
          %input{type: "submit", class: "product-form__submit-container__exhibition", value: "出品する"}
        .product-form__submit-container__back
          = link_to "#" do
            もどる
      .product-form__attention-container
        %p.sub-message
          禁止されている
          = link_to "#" do
            行為
          および
          = link_to "#" do
            出品物
          を必ずご確認ください。
          = link_to "#" do
            偽ブランド品
          や
          = link_to "#" do
            盗品物
          などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
          = link_to "#" do
            加盟店規約
          同意したことになります。
          
  .product-footer
    %ul.product-footer__clearfix
      %li.product-footer__clearfix__message
        = link_to "#" do
          プライバシーポリシー
      %li.product-footer__clearfix__message
        = link_to "#" do
          メルカリ利用規約
      %li.product-footer__clearfix__message
        = link_to "#" do
          特定商取引に関する表記
    .product-footer__logo
      = link_to root_path do
        = image_tag asset_path("logo.png"), size: "140x55"
      %p.product-footer__logo__message ©️FURIMA