- breadcrumb :item_show, @item

%body
  = render partial: "header"

  .Wrapper
    = render partial: "breadcrumbs"
    .Container
      .Items
        %p.Items__title
          = @item.name
        .Items__img-first
          = image_tag "#{@images.first.image}", size: "500x400"
        .Items__img-second
          - @images.each do |i|
            = image_tag "#{i.image}", size: "160x120"

        %p.Items__price
          = "¥#{@item.price}"
        %p.Items__sipping
          (税込) 送料込み
        %p.Items__introduction
          = @item.introduction
        %table.Menu
          %tr.Menu__list
            %td.Menu__list__left
              出品者
            %td.Menu__list__right
              = @item.seller.nickname
          %tr.Menu__list
            %td.Menu__list__left
              カテゴリ
            %td.Menu__list__right
              = link_to "#{@category_parent.name}","#"
              %br
              = link_to "#{@category_child.name}","#"
              %br
              = link_to "#{@category_grandchild.name}","#"
              %br
          %tr.Menu__list
            %td.Menu__list__left
              ブランド
            %td.Menu__list__right
              = @item.brand
          %tr.Menu__list
            %td.Menu__list__left
              商品の状態
            %td.Menu__list__right
              = @item.condition.name
          %tr.Menu__list
            %td.Menu__list__left
              配送料の負担
            %td.Menu__list__right
              = @item.shipping_charge.name
          %tr.Menu__list
            %td.Menu__list__left
              発送元の地域
            %td.Menu__list__right
              = @item.prefecture.name
          %tr.Menu__list
            %td.Menu__list__left
              発送日の目安
            %td.Menu__list__right
              = @item.shipping_day.name

        .Btn-area
          - if user_signed_in? && current_user.id == @item.seller_id
            .Items-btn.seller-btn
              = link_to edit_item_path(@item.id) do
                編集・削除はこちらから
          
          - elsif @item.buyer_id.present?
            .item-purchase
              ※この商品は既に購入されております

          - elsif user_signed_in? && current_user.id != @item.seller_id
            .Items-btn.buyer-btn
              = link_to item_purchase_index_path(@item.id) do
                購入する

          - else
            .Items-btn.login-btn
              = link_to new_user_session_path do
                .login-btn__top
                  ※ログインすると購入できます。
                .login-btn__down
                  ログインはこちらから

        .Option-area
          .Favorite
            = render partial: 'likes/like', locals: { item: @item }
          .Report
            不適切な商品の通報

      .item-detail-message
        .message-container
          .message-content
            - if user_signed_in?
              %ul.message-items
                - @messages.each do |message|
                  - if message.user_id == current_user.id  #コメントユーザーとカレントユーザーが同一の場合
                    .comment_Me.comment_one_block{data:{index: message.id}} 
                      %li.message-self
                        - if message.delete_check == 1   # 仮削除状態の場合
                          .message-body
                            .message-body-text
                              出品者によりこのコメントは削除されました。
                          - if message.item.seller_id == current_user.id  #カレントユーザーが出品者である場合
                            .comment_restore{data:{index: message.id, item: @item.id}}
                              = link_to "復元する",restore_item_message_path(item_id: @item, id: message.id)
                            .comment_delete.complete_delete{data:{index: message.id, item: @item.id}}    
                              = link_to '削除する', item_message_path(item_id: @item, id: message.id) , method: :delete
                        - else #仮削除状態でない場合
                          .comment_user_name
                            = message.user.nickname
                          .message-body
                            .message-body-text
                              -# = safe_join(message.message.split("\n"),tag(:br))  改行表示
                              = message.message
                              .message-icons
                                = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
                          - if message.item.seller_id == current_user.id  #ログイン中のユーザーが出品者である場合
                            .comment_delete.me_pre_delete{data:{index: message.id, item: @item.id}}  
                              = link_to '削除する', item_message_path(item_id: @item, id: message.id) , method: :patch
                  - else #コメントユーザーとログインユーザーが異なる（他人のコメント）の場合 
                    .comment_Other.comment_one_block{data:{index: message.id}}    
                      %li.message-self
                        - if message.delete_check == 1   # 仮削除状態の場合
                          .message-body-other
                            .message-body-text
                              出品者によりこのコメントは削除されました。
                          - if message.item.seller_id == current_user.id  #ログイン中のユーザーが出品者である場合
                            .comment_restore{data:{index: message.id, item: @item.id}}
                              = link_to "復元する",restore_item_message_path(item_id: @item, id: message.id)
                            .comment_delete.complete_delete{data:{index: message.id, item: @item.id}}
                              = link_to '削除する', item_message_path(item_id: @item, id: message.id) , method: :delete
                        - else #仮削除状態でない場合
                          .comment_user_name_other
                            = message.user.nickname
                          .message-body-other
                            .message-body-text
                              -# = safe_join(message.message.split("\n"),tag(:br))  改行表示
                              = message.message
                              .message-icons
                                = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
                          - if message.item.seller == current_user  #ログイン中のユーザーが出品者である場合
                            .comment_delete.other_pre_delete{data:{index: message.id, item: @item.id}}  
                              = link_to '削除する', item_message_path(item_id: @item, id: message.id) , method: :patch
          .message-content
            = form_with model: [@item, @message], class: "massage-form", local: true do |f|
              %p 
                相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
              = f.text_area :message, id:"comment_body", class: "textarea-default", wrap: "soft"
              = f.hidden_field :item_id, value: @item.id
              = f.submit "コメントする", class: "message-submit btn-default btn-gray"
              

      %ul.Move-area
        - if @item.next.present?
          %li.Next
            .Next__icon
              = icon('fas', 'angle-left')
            .Next__link
              = link_to item_path(@item.next) do
                前の商品
        - else
          %li.Next

        - if @item.precious.present?
          %li.Prev
            .Prev__link
              = link_to item_path(@item.precious) do
                後ろの商品
            .Prev__icon
              = icon('fas', 'angle-right')
        - else
          %li.Prev

      .Recommend
        .Recommend__link
          = link_to "ベビー・キッズをもっと見る", "#"
        .Recommend__category
          .recommend__category__img
            = image_tag asset_path('inu.jpg'), size: "220x150"
          .Recommend__category__content
            .Recommend__left
              .Recommend__left__title
                product2
              .Recommend__left__price
                ¥30000
              .Recommend__left__sipping
                （税込み）
            .Recommend__right
              ★０
  %footer
    = render partial: "footer"