- breadcrumb :item_show, @item

%body
  = render partial: "header"

  .Wrapper
    = render partial: "breadcrumbs"
    .Container
      .Items
        %p.Items__title
          = @item.name
        .Items__img-first
          = image_tag "#{@images.first.image}", size: "500x400"
        .Items__img-second
          - @images.each do |i|
            = image_tag "#{i.image}", size: "160x120"

        %p.Items__price
          = "¥#{@item.price}"
        %p.Items__sipping
          (税込) 送料込み
        %p.Items__introduction
          = @item.introduction
        %table.Menu
          %tr.Menu__list
            %td.Menu__list__left
              出品者
            %td.Menu__list__right
              = @item.user.nickname
          %tr.Menu__list
            %td.Menu__list__left
              カテゴリ
            %td.Menu__list__right
              = link_to "#{@category_parent.name}","#"
              %br
              = link_to "#{@category_child.name}","#"
              %br
              = link_to "#{@category_grandchild.name}","#"
              %br
          %tr.Menu__list
            %td.Menu__list__left
              ブランド
            %td.Menu__list__right
              = @item.brand
          %tr.Menu__list
            %td.Menu__list__left
              商品の状態
            %td.Menu__list__right
              = @item.condition.name
          %tr.Menu__list
            %td.Menu__list__left
              配送料の負担
            %td.Menu__list__right
              = @item.shipping_charge.name
          %tr.Menu__list
            %td.Menu__list__left
              発送元の地域
            %td.Menu__list__right
              = @item.prefecture.name
          %tr.Menu__list
            %td.Menu__list__left
              発送日の目安
            %td.Menu__list__right
              = @item.shipping_day.name

        .Btn-area
          - if user_signed_in? && current_user.id == @item.seller_id
            .Items-btn.seller-btn
              = link_to edit_item_path(@item.id) do
                編集・削除はこちらから

          - elsif user_signed_in? && current_user.id != @item.seller_id
            .Items-btn.buyer-btn
              = link_to "#" do
                購入する

          - else
            .Items-btn.login-btn
              = link_to new_user_session_path do
                .login-btn__top
                  ※ログインすると購入できます。
                .login-btn__down
                  ログインはこちらから

        .Option-area
          .Favorite
            ★ お気に入り ０
          .Report
            不適切な商品の通報

      %ul.Move-area
        - if @item.next.present?
          %li.Next
            .Next__icon
              = icon('fas', 'angle-left')
            .Next__link
              = link_to item_path(@item.next) do
                前の商品
        - else
          %li.Next

        - if @item.precious.present?
          %li.Prev
            .Prev__link
              = link_to item_path(@item.precious) do
                後ろの商品
            .Prev__icon
              = icon('fas', 'angle-right')
        - else
          %li.Prev

      .Recommend
        .Recommend__link
          = link_to "ベビー・キッズをもっと見る", "#"
        .Recommend__category
          .recommend__category__img
            = image_tag asset_path('inu.jpg'), size: "220x150"
          .Recommend__category__content
            .Recommend__left
              .Recommend__left__title
                product2
              .Recommend__left__price
                ¥30000
              .Recommend__left__sipping
                （税込み）
            .Recommend__right
              ★０

  %footer
    = render partial: "footer"