- breadcrumb :mypage_cards

= render partial: "items/header"
= render partial: "items/breadcrumbs"

.Mypage
  .Mypage__Wrapper
    .Mypage__Wrapper__Side
      %ul
        %li.Mypage__Wrapper__Side__list
          = link_to "マイページ", mypages_path
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "お知らせ", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "いいね！一覧", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品する", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品した商品-出品中", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "出品した商品-売却済み", "#"
          = icon('fa','chevron-right')
        
      %ul.Mypage__Wrapper__Side__unli  
        設定
        %li.Mypage__Wrapper__Side__list
          = link_to "プロフィール", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "発送元・お届け先住所変更", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "支払い方法", cards_path, class: "PageActive"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "メール/パスワード", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "本人情報", "#"
          = icon('fa','chevron-right')
        %li.Mypage__Wrapper__Side__list
          = link_to "ログアウト", logout_mypages_path
          = icon('fa','chevron-right')
    .Mypage__Wrapper__Main
      - if @card.present?
        %section.mypage-content__chapter-container
          %h2.card-main__chapter-head
            支払い方法
          .card-main__inner
            %section
              .card-main__content
                %h3.card-main__chapter-sub-head
                  クレジットカード一覧
              %ul.mypage-content__payment-list
                %li
                  .card-main__content.card-main__content-form{ action: '#', method: 'GET' }
                    %div
                      = image_tag "#{@default_card_src}", width: '49', height: '15', alt: @default_card_brand, id: "card_image",class:"card__card-main__mask__contents__content__menu__brand"
                    .mypage-content__payment-num
                      = "**** **** **** " + @default_card_information.last4
                    .mypage-content__payment-num
                      - exp_month = @default_card_information.exp_month.to_s
                      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                      = exp_month + ' / ' + exp_year
                    = form_tag(delete_credit_cards_path, method: :post, id: 'charge-form',  name: 'inputForm', class: 'mypage-content__card--form') do
                      %input{ type: 'hidden', name: 'card_id', value: '' }
                      %button.mypage-content__payment-remove 削除する
            .mypage-content__not-regist
              = link_to '#', target: '_blank' do
                %span 支払い方法について
                = icon 'fas', 'chevron-right'
      - else 
        .Mypage__Wrapper__Main__CardTitle
          支払い方法
        .Mypage__Wrapper__Main__CardInner
          .Mypage__Wrapper__Main__CardInner__title
            クレジットカード一覧
          .Mypage__Wrapper__Main__CardInner__add
            = link_to new_credit_card_path, class: "Mypage__Wrapper__Main__CardInner__add--link" do
              %i.fa.fa-credit-card クレジットカードを追加する 
= render partial: "items/footer" 